@import "vars";

@media screen and (max-width: 1200px)  {
	// ************************* Best Tour
	.best-tour-cards{
  	&__item{
  		max-width: 300px;
  	}
  }
  // ************************* Best Tour

  // ********************************* Popular Tour
	.popular-tour{
		&__cards{
			margin-top: 2rem;
		}
		.slick-list{
			padding: 5px 0;
		}
	}
	.mini-cards{
		&__item{
			margin-bottom: 1rem;
			width: 90% !important;
			display: block !important;
			margin-right: auto !important;
			margin-left: auto;
			&:hover{
				transform: scale(1);
			}
			&-country{
				}
			}
			&-price{
			}
		}
	// ********************************* Popular Tour
}

@media screen and (max-width: 996px) {

	.form{
		&__checked{
			padding-right: 15px;
			padding-left: 15px;
			font-size: .9rem;
		}
	}
	
	.section{
		&__title{
			font-size: 1.5rem;
		}
		&__text{
			font-size: 1rem;
			font-weight: 400;
		}
	}

  // ************************* Header
  .header{
  	border-bottom: 1px solid $accent;
  	&__logo{
			width: 100px;
		}
  }
  .header-bottom{
  	display: none;
  }
  .phone-numbers{
  	display: none;
  }
  .header-top{
  	padding: .5rem;
  	&__wrapper{
  	}
  	&__block{
  		&-button{
	  		display: none;
	  	}
  	}
  	&__hamburger{
  		display: block;
  		height: 22px;
  	}
  }
  .lang-ds{
  	display: none;
  }
  .lang-mb{
  	display: block;
  }
  .socials{
  	display: none;
  }
  // ************************* Header

  // ************************* Main
  .main{
  	text-align: center;
  	padding-bottom: 3rem;
  	background: $accent;
  	padding-top: 0;
  	margin-top: 0;
  	&_bg_mb{
  		background-image: url('../img/main-bg-min.png');
			background-size: cover;
			background-position: top center;
			background-repeat: 	no-repeat;
			height: 100vh;
			margin-top: -10px;
  	}
  	&__title{
  		font-size: 1.9rem;
  	}
  	&__form{
  		margin-right: auto;
  		margin-top: 2rem;
  	}
  	&__button{
  		font-size: 1rem;
  	}
  	&__text{
  		font-size: 1rem;
  		b{
  			display: block;
  		}
  	}
  	&__form{
  		display: none;
  	}
  	&__cards{
  		bottom: unset;
  		margin-top: 3rem;
  		position: relative;
  	}
  	margin-bottom: -10px;
  }
  .main-cards{
		align-items: stretch;
		flex-wrap: wrap;
		justify-content: space-between;
		&__item{
			width: 48%;
			padding: 1.5rem .5rem;
			max-width: 400px;
			margin-top: 1rem;
			font-size: .9rem;
			&-title{
			}
		}
	}
  // ************************* Main

  // ************************* Best Tour
  .arrow{
		font-size: 1.7rem;
  	&__left{
			left: -16px;
  	}
  	&__right{
			right: -16px;
  	}
  }
  .best-tour{
  	padding-top: 3rem;
  }
  .best-tour-cards{
  	&__item{
  		max-width: 96%;
  		margin-right: 2%;
  		margin-left: 2%;
  	}
  }
  // ************************* Best Tour

  //************************** Popular tour
  .popular-tour{
		padding-bottom: 2rem;
  }
  .helper{
  	text-align: center;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	padding-top: 2.4rem;
  	padding-bottom: 	2.4rem;
  	max-width: 400px;
  	margin-right: auto;
  	margin-left: auto;
  	left: 25px;
  	right: 	25px;
  	&__manager{
  		width: 100%;
  	}
  	&__inner{
  		margin-top: 1rem;
  		width: 100%;
  		display: flex;
  		flex-direction: column;
	  	justify-content: center;
	  	align-items: center;
  	}
  	&__contacts{
  		flex-wrap: wrap;
  		justify-content: center;
  	}
  	&__button{
  		margin-bottom: 1rem;
  		display: block;
  		width: 100%;
  	}
  }
  //************************** Popular tour

   //*************************** News
   .news{
   	min-height: auto;
   	&__title{
   		font-size: 1.3rem;
   	}
   	&__text{
   		font-size: 1.1rem;
   	}
   }
    //************************** News

  // ************************* Helper
	.helper{
		
	}
	// ************************* Helper

	// ************************* Local tourism
	.local-tourism{
		.slick-slide > div:first-child{
			margin-bottom: 1rem;
		}
		.arrow{
			top: 47%;
		}
	}
	.local-tourism-cards{
		&__item{
			max-width: 94%;

		}
	}
	// ************************* Local tourism

	// ************************* Team
	.team{

		.arrow{
			top: 47%;
		}
		
		// .slick-track{
		// 	width: 100% !important;
		// }

		// .slick-slide{
		// 	width: 100% !important;
		// }

		.slick-slide > div {
			margin-bottom: 1rem;
			display: flex;
			justify-content: space-between;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.team-cards{
		&__item{
			width: 45% !important;
		}
		&__person{
			width: 80px;
			height: auto;
		}
		&__name{

		}
	}
	// ************************* Team

	// ********************************* FAQ
	.faq-tab{
		overflow: hidden;
		&__nav{
			&-item{
				border-radius: 0;
				padding: 15px 40px;
				display: flex;
				align-items: center;
				background: $accent;
				&:first-child, &:last-child{
					border-radius: 0;
				}
			}
		}

		.accordionjs .acc_section .acc_head{
			padding: 5px 32px 5px 5px;
			font-size: .9rem;
		}
		.accordionjs .acc_section .acc_content{
			font-size: .9rem;
			padding: 10px 5px;
		}

		.far-arrow-next{
			right: 10px;
			color: #fff;
		}
		.far-arrow-prev{
			left: 10px;
			color: #fff;
		}
	}
	// ********************************* FAQ

	// ********************************* Map
.map{
	position: relative;
	&__constructor{
		width: 85%;
		height: 200px;
		margin-right: auto;
		margin-left: auto;
	}
	&__contact{
		position: relative;
		overflow: hidden;
		top: unset;
		transform: unset;
		left: unset;
	}
}
.contact{
	max-width: 310px;
	margin-right: auto;
	margin-left: auto;
	background: #fff;
	left: unset;
	padding: 2rem 1rem;
	text-align: center;
	&__title{
		font-size: 1.4rem;
	}
	&__address{
		font-size: 1rem;
	}
	&__question{
		font-size: 1.2rem;
	}
	&__button{

	}
}
// ********************************* Map


// ********************************* Footer
.footer{
	&__content{
	}
	&__left{
		span{
			display: none;
		}
	}
	&__right{
	}
	&__logo{
		width: 110px;
	}
	&__lang-ds{
	}
	&__button{
		display: none;
	}
	&__phone-numbers{
		display: flex;
	}
}
// ********************************* Footer
}